
header{
    width: 100%;
    background-color: rgba(255, 0, 0, 0.596);
    text-align: center;
    position: fixed;
    z-index: 99 !important;
}
table{
    width: 100%;
}

a{
    background-color: rgba(0, 0, 0, 0);
    color: black;
    font-weight: 900;
    border-color: transparent;
    text-decoration: none;
    border-radius: 15px;
}
.button-div{
    width: 50%;
    margin: auto;
}

.button-div:hover{
    cursor: pointer;
    background-color: red;
    a{
        color: white;
    }
}