<footer>
    <table>
        <tr>
            <td>
                &nbsp;
            </td>
            <td>
                <img src="/assets/Remade Logo.png">
            </td>
            <td>
                &nbsp;
            </td>
        </tr>
        <!-- <tr>
            <td>
                <img src="/assets/g-logo.png">
            </td>
            <td>
                <img src="/assets/yelp-logo.png">
            </td>
            <td>
                <img src="/assets/Facebook-Logosu.png">
            </td>
        </tr> -->
    </table>
    <p class="copyright">
        Copyright © 2024 AR Gutters & Services LLC. All Rights Reserved
    </p>
    <hr>
    <p class="naut">
        Designed & Built by <a href="https://nautiloidindustries.com" target="_blank">Nautiloid Industries</a>
    </p>
</footer>
