<footer>
    <div>
        <img src="/assets/Remade Logo.png">
        <table>
            <tr>
                <td>
                    <a href="https://www.facebook.com/arguttersandservices/" target="_blank">
                    <img class="logo" src="/assets/facebook-logo.png">
                    </a>
                </td>
                <td class="td-2">
                    <a href="https://www.google.com/search?client=opera-gx&q=AR+Gutters+%26+Services+LLC&sourceid=opera&ie=UTF-8&oe=UTF-8#lrd=0x87cd2b36c57b0093:0x2160afa027e34c19,1,,,," target="_blank">
                    <img class="logo" src="/assets/g-logo.png">
                    </a>
                </td>
                <td>
                    <a href="https://www.yelp.com/biz/ar-gutters-and-services-hot-springs-2" target="_blank">
                    <img class="logo" src="/assets/yelp-logo.png">
                    </a>
                </td>
            </tr>
        </table>
        <button (click)="onClick('Contact')">CONTACT US</button>
    </div>

    <p class="copyright">
        Copyright © 2024 AR Gutters & Services LLC. All Rights Reserved
    </p>
    <p class="naut">
        Designed & Built by <a href="https://nautiloidindustries.com" target="_blank">Nautiloid Industries</a>
    </p>
</footer>
