<div class="service-tab">

    <table>
        <tr>
            <td>
                <h2>Offered Services</h2>
                <div>
                    <h1>Your Home's Best Defence: Our Comprehensive Gutter Services.</h1>
                    <hr>
                    <p>
                        Our services include expert seamless gutter installation, leaf protection systems, and professional gutter cleaning, all designed to enhance your home’s durability and appearance.
                        We deliver top-quality solutions that protect your property from water damage year-round. <br>
                        <button (click)="onClick('Portfolio')">PORTFOLIO</button>&nbsp;<button (click)="onClick('Contact')">CONTACT US</button>
                    </p>
                </div>
            </td>
            <td class="image-td">
                <img class="img-alt" src="/assets/mesh-gaurd.jpg">
            </td>
        </tr>
        <tr>
            <td class="image-td">
                <img src="/assets/leaf-gaurd.jpg">
            </td>
            <td>
                <h1>Leaf Gaurd Protection Screens</h1>
                <hr>
                <p class="align-left">
                    Our Leaf Guard Protection Screens are designed to keep your gutters clear of debris, 
                    ensuring smooth water flow and reducing the need for frequent maintenance. 
                    These durable screens effectively block leaves, twigs, and other debris from entering your gutters while allowing rainwater to pass through freely. 
                    Made from high-quality materials, our leaf protection screens are built to withstand harsh weather conditions and provide long-lasting performance.
                     With our Leaf Guard Protection Screens, you can enjoy the peace of mind that comes with knowing your gutters are protected year-round.
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <h1>Seamless Gutter Installation</h1>
                <hr>
                <p>
                    Our Seamless Gutter Installation service offers a custom-fit solution designed to protect your home from water damage. 
                    Unlike traditional gutters, our seamless gutters are crafted on-site to the exact dimensions of your property, 
                    ensuring a perfect fit with no joints or seams where leaks can occur. Made from high-quality materials, these gutters are not only durable but also add a sleek, finished look to your home’s exterior. 
                    With our professional installation, you can trust that your new gutters will provide efficient water management, helping to preserve your home’s foundation and landscaping for years to come.
                </p>
            </td>
            <td class="image-td">
                <img class="img-alt" src="/assets/seamless-gutters.jpg">
            </td>
        </tr>
    </table>
</div>
