<div class="reviews">

    <table>
        <tr>
            <td>&nbsp;</td>
            <td>
                <div class="container">
                    <div class="review-head">
                        <h1>Testimonials</h1>
                        <h2>Still Not Convenced? See why our clients trust us to protect their properties and ensure reliable drainage solutions.</h2>
                        <a href="https://www.google.com/search?client=opera-gx&q=AR+Gutters+%26+Services+LLC&sourceid=opera&ie=UTF-8&oe=UTF-8#lrd=0x87cd2b36c57b0093:0x2160afa027e34c19,1,,,," target="_blank">
                            <img class="google-logo" id="logo" src="assets/gr-logo.png" alt="">
                        </a>
                        <br>
                        <img class="arrow" src="/assets/arrow.png" alt="">
                    </div>
                    <app-carousel [images]="images"></app-carousel>
                    
                </div>
            </td>
            <td>&nbsp;</td>
        </tr>
    </table>
</div>
