<div class="service-tab">

    <table>
        <tr>
            <td class="image-td">
                <img src="/assets/house2.jpg">
            </td>
            <td>
                <h2>Why Choose Us?</h2>
                <h1>Reliable Service, Superior Gutters: Choose Quality, Choose Us.</h1>
                <hr>
                <p class="align-left">
                    As a leading gutter contractor, AR Gutters & Services LLC specializes in a comprehensive range of gutter services, 
                    including expert rain gutter installation and seamless gutters. We offer top-notch solutions like leaf protection screens and gutter cover installation to ensure your system remains debris-free and efficient.
                     Our services extend to gutter repair and replacement, and we pride ourselves on using high-quality materials such as aluminum seamless gutters. 
                     Additionally, we are committed to sustainability with our recycling of old rain gutters, reflecting our dedication to both exceptional service and environmental responsibility.
                     <br>
                     <button>CONTACT US</button>
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <h1>Our Team</h1>         
                    <hr>
                    <p>
                         We are a family-owned business with over 30 years of combined experience. 
                         We pride ourselves in delivering top-quality seamless rain gutter installations, leaf protection screens, and professional gutter cleaning services. 
                         We offer solutions that not only enhance the look of your home but also provide long-lasting protection against water damage. 
                         Our commitment to excellence and customer satisfaction has been the cornerstone of our business, ensuring that every job is done with precision and care. 
                         Trust our experienced team to keep your home safe and your gutters functioning at their best.
                    </p>
                </div>
            </td>
            <td class="image-td">
                <img class="img-alt" src="/assets/house3.jpg">
            </td>
        </tr>
    </table>
</div>
