.service-tab{
    background-color: rgba(255, 255, 255, 0.836);
    border-top: solid 5px rgba(255, 0, 0, 0.596);
}

h1{
    text-align: center;
    font-size:  clamp(15px, 2vw, 25px);
    color: black;
    font-weight: 700;
    margin-top: 2px;
    margin-bottom: 2px;
}

h2{
    text-align: center;
    font-weight: bolder;
    color: rgb(4, 4, 148);
    font-size:  clamp(15px, 2vw, 25px);
    margin-top: 2px;
    margin-bottom: 2px;
    font-weight: 400;
}

p{
    text-align: center;
    font-weight: 400;
    font-size:  clamp(5px, 2vw, 20px);
}

.align-left{
    text-align: center;
}
table{
    margin: auto;
}

img{
    margin-bottom: 5%;
    max-width: 100%;
    border-radius: 15px;
    box-shadow: -15px 15px 30px #181818;
}

.img-alt{
    box-shadow: 15px 15px 30px #181818;
}

.image-td{
    width: 400px;
}

hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid rgba(255, 0, 0, 0.308);
    margin: 1em 0;
    padding: 0;
}

button{
    background-color: rgba(255, 0, 0, 0.822);
    border-radius: 5px;
    margin-top: 3%;
    border-color: red;
    color: white;
    font-weight: 900;
    font-family: "Oswald", sans-serif;
    width: 30%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size:  clamp(5px, 2vw, 12px);
}

button:hover{
    background-color: rgba(255, 0, 0, 0.308);
    cursor: pointer;
}