
    <div id="Portfolio">
        <h1>Our Portfolio</h1>
        <h2>Where Function Meets Beauty: Journey Through Our Gutter Creations.</h2>
        <div class="container">
            <div class="gallery-conatiner w-4 h-2">
                <div class="gallery-item">
                    <div class="image">
                        <img src="assets/house1.jpg" alt="" ></div>
                </div>
            </div>
            <div class="gallery-conatiner w-2">
                <div class="gallery-item">
                    <div class="image">
                        <img src="assets/leaf-gaurd.jpg" alt=""></div>
                </div>
            </div>
            <div class="gallery-conatiner w-3 h-2">
                <div class="gallery-item">
                    <div class="image">
                        <img src="assets/house2.jpg" alt=""></div>
                </div>
            </div>
            <div class="gallery-conatiner w-2 h-1">
                <div class="gallery-item">
                    <div class="image">
                        <img src="assets/house3.jpg" alt=""></div>
                </div>
            </div>
            <div class="gallery-conatiner w-5 h-2">
                <div class="gallery-item">
                    <div class="image">
                        <img src="assets/ref1.jpg" alt=""></div>
                </div>
            </div>
            <div class="gallery-conatiner w-2">
                <div class="gallery-item">
                    <div class="image">
                        <img src="assets/ref2.jpg" alt=""></div>
                </div>
            </div>
            <div class="gallery-conatiner w-3 h-2">
                <div class="gallery-item">
                    <div class="image">
                        <img src="assets/ref3.jpg" alt=""></div>
                </div>
            </div>
            <div class="gallery-conatiner w-2">
                <div class="gallery-item">
                    <div class="image">
                        <img src="assets/ref4.jpg" alt=""></div>
                </div>
            </div>
            <div class="gallery-conatiner w-3 h-2">
                <div class="gallery-item">
                    <div class="image">
                        <img src="assets/seamless-gutters.jpg" alt=""></div>
                </div>
            </div>
            <div class="gallery-conatiner w-1">
                <div class="gallery-item">
                    <div class="image">
                        <img src="assets/ref5.jpeg" alt=""></div>
                </div>
            </div>
            <div class="gallery-conatiner h-1">
                <div class="gallery-item">
                    <div class="image">
                        <img src="assets/mesh-gaurd.jpg" alt=""></div>
                </div>
            </div>
            <div class="gallery-conatiner w-4 h-2">
                <div class="gallery-item">
                    <div class="image">
                        <img src="assets/house1-1.jpg" alt=""></div>
                </div>
            </div>
            <div class="gallery-conatiner w-1 h-2">
                <div class="gallery-item">
                    <div class="image">
                        <img src="assets/ref7.jpg" alt=""></div>
                </div>
            </div>
        </div>
    </div>
